/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Navbar styles */
.navbar {
    background-color:rgb(4, 4, 134);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: last baseline;
}

.navbar-logo {
    justify-content: center;
    width: auto;
    height: 300px;
    
}

.navbar-logo img {
    height: auto;
    width: 600px;
    padding: 30px;
}

.navbar-content {
    flex-grow: 1;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-list li {
    position: relative;
}

.navbar-list li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    vertical-align: text-bottom;
    align-content: center;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    min-width: 150px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}




/* Other styles for your content section can be added here */
.video-container {
    
        display: flex;
        flex-direction: column;
        align-items: center;       
        width: 500px;
    
}        

/* Style the video */
video {
    max-width: 90%;
    height: auto;
}    


/* Register form */

.form {
    position: absolute;
    right: 40px; /* Adjust as needed */
    top: 80%; /* Vertically center the form */
    transform: translateY(-50%);
    padding: 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    
}

.admission-form {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}    

.admission-form h2 {
     margin-top: 10;
     color: white;
     background-color: navy;
     
}
.admission-form label {
    display: block;
    margin-top: 5px;

}

.admission-form select, .admission-form input[type="text"],
.admission-form input[type="email"], .admission-form input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navy-button {
    background-color: navy;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.login-register {
    margin-top: 10px;
}

.login-register input[type="checkbox"] {
    margin-right: 5px;
}

/* home */
p, .p {
    text-align: justify;
}

p {
    padding-bottom: 27px;
}
p {
    -webkit-font-smoothing: antialiased;
}


/* Sports header styles */
h2, p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.heading {
    margin-bottom: 10px;
}

.paragraph {
    margin-bottom: 20px;
}


/* sports activity */
body, h2, p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.microsoft-document {
    margin: 20px;
    padding: 20px;
    background-color: white;
   
}

.microsoft-heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: navy;
    display: inline-block;
    color: white;
    width: 100%;
}

.microsoft-paragraph {
    text-align: left;
    line-height: 1.5;
}

/* images */
.image-container-a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.left-image, .right-image {
    width: 48%; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
}

.text-paragraph{
    width: 48%; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;

}

/*medal*/
.container-medals {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.image-container-m {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    
}

.centered-image {
    display: inline-block;
}

/*bulk images*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.left-images, .right-images {
    display: flex;
    flex-direction: column;
}

.left-images img, .right-images img {
    max-width: 100%;
    margin-bottom: 10px;
}

/*bulk images*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.left-images, .right-images {
    display: flex;
    flex-direction: column;
}

.left-images img, .right-images img {
    max-width: 100%;
    margin-bottom: 10px;
}


/*bulk images*/

.container-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.left-images, .right-images {
    display: flex;
    flex-direction: column;
}

.left-images img, .right-images img {
    max-width: 100%;
    margin-bottom: 30px;
}

/*sports facilities*/

.container-4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f4f4f4;
}

.left-images-2, .right-images-2 {
    display: flex;
    flex-direction: column;
}

.image {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
    background-color: navy;
}

.image img {
    max-width: 100%;
    height: auto;
}

/*bottom headlines*/
.container-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    background-color: #f4f4f4;
    
}

.headl {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: navy;
    color: white;
    border-radius: 5px;
}


/*contact us.html*/

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.column {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 10px;
}

.contact-details {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #3498db;
    color: white;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}    

/*location*/

.container-l {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;

}

.location {
    text-align: center;
}

/*contact us*/
/* Reset some default styles */
b/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
}

.section {
    width: 33.33%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    line-height: 1.5;
}

.section h2 {
    margin-top: 0;
}



/* Adjust styles for different screen sizes */
@media (max-width: 768px) {
    .section {
        width: 100%;
        float: none;
    }
}



/*marquee*/
.container-5 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 50vh;
    
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    height: 600px;
}

.section-header {
    background-color: navy;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.bullet-list {
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    height: 300px;
}

.bullet-list ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 15px;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .container-5 {
        flex-direction: column;
    }
}

/*picture wiith headtags*/

.container-p {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-header {
    background-color: navy;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: 400px;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

/*you tube videos*/
   
.header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center; /* Align vertically */
    justify-content: left; /* Align horizontally */
    height: 10px; /* Set the desired height */
}

.header-text {
    margin: 0; 
    font-size: 24px;
}    

.box-section {
    text-align: center;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}   

/* Iframe style */
iframe {
    max-width: 100%;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .header {
        font-size: 18px;
    }
}


/*home screen*/



.rectangle-section {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.square-section {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.square-header {
    background-color: navy;
    color: white;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .rectangle-section {
        flex-direction: column;
    }
}


.rectangle-section-1 {
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.square-section-1 {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px silver;
    border-radius: 10px;
    margin: 10px;
}

.square-header-1 {
    background-color: navy;
    color: white;
    padding: 10px;
}

.quick-links, .downloads {
    list-style-type: disc;
    padding-left: 20px;
}

.stay-connected {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stay-connected img {
    max-width: 30px;
    margin: 0 5px;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .rectangle-section-1 {
        flex-direction: column;
    }
}


/*home screen footer*/
/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}


/* Reset some default styles */


/*abot us*/


.hd-section {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center; /* Align vertically */
    justify-content: left; /* Align horizontally */
    height: 10px; /* Set the desired height */
    margin: 0 20px; 
}

.paragraph-section {
    padding: 20px;
    text-align: left;
    margin: 0 20px; 
    line-height: 25px;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .header-section, .paragraph-section {
        padding: 10px;
    }
}


/*about message*/
/* Reset some default styles */

/* Reset some default styles */


.heddy{
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center; /* Align vertically */
    justify-content: left; /* Align horizontally */
    height: 10px; /* Set the desired height */
    margin: 0 20px; 
    margin-bottom: 10px;
    margin-top: 20px;
  
}

.conty {
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    margin: 0 20px; 
    line-height: 30px;
}

.conty img {
    width: 300px;
    margin-right: 20px;
}

.conty p {
    margin: 0;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .heddy, .conty {
        padding: 10px;
    }
    .conty img {
        width: 100px;
        margin-right: 10px;
    }
}


/* Reset some default styles */

.heddy-2 {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center; /* Align vertically */
    justify-content: left; /* Align horizontally */
    height: 10px; /* Set the desired height */
    margin: 0 20px; 
    margin-bottom: 10px;
    margin-top: 20px;
}

.conty-2 {
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    margin: 0 20px; 
    line-height: 30px;
}


.conty-2p {
    margin: 0;
    flex: 1; /* Allow the paragraph to take available space */
}

.conty-2 img {
    width: 300px;
    margin-right: 0px;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .heddy-2 .conty-2 {
        padding: 10px;
    }
}

/*trust*/

/* Reset some default styles */


/* Reset some default styles */


.grid-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.column-00 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.column-00 img {
    max-width: 300px;

}

.column-00 p {
    margin: 10px 0;
    text-align: center;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .grid-section {
        flex-direction: column;
    }
}

/*table*/
/* Reset some default styles */


.center-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Adjust to fit your content */
}

.custom-table {
    width: 80%; /* Set the desired width */
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-table th, .custom-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}



/*courses.html*/
/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header-course {
    background-color: navy;
    color: white;
    padding: 10px;
    text-align: center;
}

.course-name a {
    text-decoration: none;
    color: inherit;
}


/*gallery.html*/


.content-section-10 {
    display: grid;
    place-items: center;
    height: 200vh; /* Adjust as needed */
    background-color: #f0f0f0;
    width: 100%;
   
    
}    

.section-10 {
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    text-align: center;
    max-width: 800px; /* Set maximum width for consistent layout */
    margin-bottom: 100px;
   
}

.centered-header-10 {
    background-color: navy;
    color: white;
    padding: 10px;
}

.centered-header-10 h1 {
    margin: 0;
}

.section-10 p {
    margin: 10px 0;
    text-align: center;
}

.section-10 img {
    max-width: 100%;
    height: auto;
    
}


/*r&d cell*/
/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
    margin-left: 20px;
    margin-right: 20px;
}

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
}


/*r and d cell*/
.expert-table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: 100px;
    margin-right: 100px;
}

.header-row th {
    background-color: navy;
    color: white;
    padding: 10px;
}

.expert-table td, .expert-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.expert-table tr:nth-child(even) {
    background-color: #f2f2f2;
}    


/*placements.html*/
/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.center-container-bo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 20px;

}

.section-01 {
    width: 35%;
    box-sizing: border-box;
    border: 2px solid navy;
    margin: 10px;
}

.section-box-01 {
    padding: 20px;
}

h2 {
    color: navy;
}

p {
    color: #333;
}
 
/*placements*/
/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}

.image-box {
    width: 300px;
    height: 300px;
    background: #fff;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 200px;
    margin-right: 30px;
}
